html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --dark: #1c1c1c;
  --gray-600: #505050;
  --gray-500: #8b96a5;
  --gray-400: #bdc4cd;
  --gray-300: #dee2e7;
  --gray-200: #eff2f4;
  --gray-100: #f7fafc;
  --white: #e3f0ff;
  --primary: #0d6efd;
  --light-green: #c3ffcb;
  --green: #00b517;
  --wheat: #ffe5bf;
  --orange: #ff9017;
  --red: #fa3434;
  --border-radius: 6px;
  --box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

* {
  font-family: system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: 0.3s all ease-in-out;
}

*::selection {
  background-color: var(--primary);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-slider-thumb {
  background-color: var(--primary);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: #f7fafc !important;
}

img,
svg {
  vertical-align: text-top !important;
}

ul {
  padding: 0;
  margin: 0;
}

section {
  max-width: 1180px;
  margin: 0 auto;
  background-color: var(--gray-100);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.card {
  border: 1px solid var(--gray-300) !important;
}

.custom-btn {
  color: var(--white);
  background-color: var(--primary);
  font-weight: 500;
  font-size: 1.5rem;
  height: 100%;
  min-width: 100px;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.header {
  background-color: white;
  width: 100%;
}
.header .line {
  width: 100%;
  color: var(--gray-500);
}
.header .top-navbar {
  border-bottom: 1px solid var(--gray-400);
  width: 100%;
  height: auto;
  padding: 20px 0;
  display: flex;
  box-shadow: none;
  background-color: transparent;
  border: none;
  margin: 0 auto;
  width: 77%;
}
.header .top-navbar .logo {
  min-width: 150px;
  min-height: 46px;
  margin-right: 46px;
  user-select: none;
}
.header .top-navbar .search-form {
  min-width: 655px;
  min-height: 40px;
  height: 40px;
  max-height: auto;
  display: flex;
  align-items: center;
  margin-right: 89px;
}
.header .top-navbar .search-form .search-input {
  min-width: 421px;
  height: 100%;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding: 0 10px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-color: var(--primary);
}
.header .top-navbar .search-form .search-input::placeholder {
  color: var(--gray-500);
  font-weight: 500;
  font-size: 1.5rem;
}
.header .top-navbar .search-form .search-select {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-left: 1px solid;
  border-color: var(--primary);
  color: var(--dark);
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.header .top-navbar .search-form .search-select {
  min-width: 145px;
  height: 100%;
}
.header .top-navbar .header-links {
  display: flex;
  align-items: center;
  column-gap: 23px;
  width: 100%;
  justify-content: end;
}
.header .top-navbar .header-links a {
  display: flex;
  row-gap: 6px;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  color: var(--gray-500);
}
.header .top-navbar .header-links a img {
  width: 20px;
  height: 20px;
}
.header .bottom-navbar {
  padding: 16px 0;
  background-color: transparent;
  box-shadow: none;
  width: 77%;
  margin: 0% auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .bottom-navbar .nav-links {
  display: flex;
  align-items: center;
  column-gap: 28px;
}
.header .bottom-navbar .nav-links a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  font-size: 1.5rem;
}
.header .bottom-navbar .nav-right-links {
  display: flex;
  align-items: center;
  column-gap: 32px;
  color: var(--dark);
  font-weight: 500;
  justify-content: end;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1486px) {
  .header {
    transition: all 0.5s ease-in-out;
    width: 100%;
  }
  .header .top-navbar {
    width: 95%;
    margin: 0 auto;
  }
  .header .top-navbar .header-links {
    width: 50%;
    margin: 0 auto;
    justify-self: start;
  }
  .header .top-navbar .header-links a span {
    display: none;
  }
  .header .bottom-navbar {
    width: 95%;
    margin: 0 auto;
  }
}
.home {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.home .home-hero {
  display: flex;
  align-items: center;
  padding: 20px 14px;
  background-color: white;
}
.home .home-hero .hero-list {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}
.home .home-hero .hero-list span {
  font-size: 1.4rem;
  line-height: 1.3;
  padding: 11px 10px;
  font-weight: 400;
}
.home .home-hero .hero-list .active {
  color: var(--dark);
  font-weight: 500;
  background-color: var(--white);
  border-radius: var(--border-radius);
}
.home .home-hero .hero-mage {
  background-image: url("../images/hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 360px;
  border-radius: var(--border-radius);
  margin-left: 11px;
  margin-right: 20px;
}
.home .home-hero .hero-mage .content {
  margin: 53px 45px;
}
.home .home-hero .hero-mage .content h2 {
  font-size: 26px;
}
.home .home-hero .hero-mage .content h1 {
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
}
.home .home-hero .hero-mage .content .custom-btn {
  margin-top: 17px;
  display: inline-block;
  background-color: white;
  color: var(--dark);
  border-radius: var(--border-radius);
  text-decoration: none;
  text-align: center;
  padding: 10.5px 16px;
}
.home .home-hero .hero-right-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  height: 100%;
}
.home .home-hero .hero-right-part .top-card {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  min-height: 150px;
  padding: 12px 10px;
}
.home .home-hero .hero-right-part .top-card .user {
  display: flex;
  align-items: center;
  column-gap: 9px;
  margin-bottom: 13px;
}
.home .home-hero .hero-right-part .top-card .user img {
  width: 44px;
  height: 44px;
}
.home .home-hero .hero-right-part .top-card .user span {
  color: var(--dark);
  font-weight: 500;
  font-size: 1.5rem;
}
.home .home-hero .hero-right-part .top-card .custom-btn {
  width: 100%;
  border-radius: var(--border-radius);
  font-size: 1.3rem;
  font-weight: 500;
  padding: 7px 0;
  box-shadow: var(--box-shadow);
}
.home .home-hero .hero-right-part .top-card .white-btn {
  background-color: var(--gray-100);
  color: var(--primary);
  margin-top: 7px;
  font-weight: 500;
}
.home .home-hero .hero-right-part .custom--card {
  border-radius: var(--border-radius);
  color: var(--gray-100);
  font-size: 1.5rem;
  padding: 16px;
  line-height: 1.3;
}
.home .home-hero .hero-right-part .mid-card {
  background-color: #f38332;
}
.home .home-hero .hero-right-part .bottom-card {
  background-color: #55bdc3;
}
.home .deals-offers {
  margin-top: 30px;
  display: flex;
  background-color: white;
}
.home .deals-offers .time {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.home .deals-offers .time .text {
  margin-bottom: 18px;
}
.home .deals-offers .time .text h4 {
  margin: 0;
  font-weight: 700;
}
.home .deals-offers .time .text span {
  color: var(--gray-500);
  font-size: 1.3rem;
}
.home .deals-offers .cards {
  display: flex;
  width: 100%;
  justify-content: end;
}
.home .deals-offers .cards .card {
  min-width: 179px;
  height: 100%;
  background-color: transparent;
  padding: 8px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .deals-offers .cards .card .img {
  min-width: 140px;
  width: 140px;
  height: 130px;
  margin-bottom: 11px;
}
.home .deals-offers .cards .card h4 {
  color: var(--dark);
}
.home .deals-offers .cards .card span {
  color: #eb001b;
  background-color: #ffe3e3;
  padding: 4px 13px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 7px;
  margin-bottom: 17px;
}
.home .mobile-deals-offers {
  display: flex;
  border-radius: 0;
  flex-direction: column;
  margin-top: 10px;
  padding: 0;
  box-shadow: none;
}
.home .mobile-deals-offers .time {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
  border-bottom: 1px solid var(--gray-400);
}
.home .mobile-deals-offers .time .text h4 {
  font-weight: 600;
  font-size: 1.7rem;
}
.home .mobile-deals-offers .time .text span {
  color: var(--gray-600);
  font-size: 1.4rem;
}
.home .mobile-deals-offers .cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}
.home .mobile-deals-offers .cards .card {
  flex: 0 0 20%;
  padding: 15.4px 33.2px 18px 33.2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .mobile-deals-offers .cards .card .img {
  width: 76.66px;
  height: 83.19px;
  margin-bottom: 11.4px;
}
.home .mobile-deals-offers .cards .card h4 {
  margin-bottom: 8px;
}
.home .mobile-deals-offers .cards .card span {
  color: #eb001b;
  background-color: #ffe3e3;
  padding: 4px 2%;
  border-radius: 15px;
  font-weight: 500;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
}
.home .reusable-home-section {
  display: flex;
  width: 100%;
  margin-top: 20px;
  background-color: white;
  min-height: 257px;
}
.home .reusable-home-section .main-card {
  position: relative;
}
.home .reusable-home-section .main-card .gradient {
  position: absolute;
  background-color: rgba(85, 69, 37, 0.4);
  width: 100%;
  height: 100%;
}
.home .reusable-home-section .main-card img {
  filter: contrast(100%);
}
.home .reusable-home-section .main-card .content {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
}
.home .reusable-home-section .main-card .content h3 {
  font-weight: 700;
  width: 130px;
  margin-bottom: 18px;
}
.home .reusable-home-section .main-card .content .custom-btn {
  background-color: white;
  color: var(--dark);
  padding: 10.5px 16px;
  border-radius: var(--border-radius);
}
.home .reusable-home-section .mini-cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
.home .reusable-home-section .mini-cards .card {
  padding: 20px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home .reusable-home-section .mini-cards .card .text h5 {
  color: var(--dark);
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 9px;
}
.home .reusable-home-section .mini-cards .card .text span {
  color: var(--gray-500);
  line-height: 0;
}
.home .reusable-home-section .mini-cards .card img {
  width: 70px;
  height: 70px;
  margin-top: 10px;
}
.home .mobile-reusable-home-section {
  margin-top: 10px;
  box-shadow: none;
  background-color: white;
  border: 0;
  border-radius: 0;
  margin-bottom: 10px;
}
.home .mobile-reusable-home-section .mobile-sec-title {
  padding: 14px 16px;
  font-size: 1.8rem;
}
.home .mobile-reusable-home-section .mini-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}
.home .mobile-reusable-home-section .mini-cards .card {
  flex: 0 0 20%;
  padding: 8px 21px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.home .mobile-reusable-home-section .mini-cards .card .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .mobile-reusable-home-section .mini-cards .card .text span {
  display: flex;
  white-space: nowrap;
  color: var(--gray-500);
  font-size: 1.2rem;
}
.home .mobile-reusable-home-section .mini-cards .card img {
  width: 98px;
  height: 98px;
  margin-bottom: 4px;
}
.home .mobile-reusable-home-section .source-btn {
  display: flex;
  align-items: center;
  column-gap: 6px;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  padding: 14px 0 20px 22px;
}
.home .form-section {
  background-image: linear-gradient(to right, rgb(44, 124, 241), rgba(60, 192, 204, 0.6745098039)), url("/src/assets/images/homeFormBG.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-height: auto;
  max-width: 100%;
}
.home .form-section .content {
  padding-top: 40px;
  padding-left: 40px;
}
.home .form-section .content .mobile-btn {
  display: none;
}
.home .form-section .content h1 {
  color: var(--gray-100);
  font-weight: 500;
  font-size: 3rem;
}
.home .form-section .content p {
  color: var(--gray-100);
  margin-top: 13px;
  font-size: 1.3rem;
}
.home .form-section form {
  min-width: 491px;
  margin-top: 30px;
  margin-bottom: 44px;
  margin-right: 31px;
  background-color: var(--gray-100);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 0 20px 25px 20px;
}
.home .form-section form h2 {
  font-weight: 700;
  padding: 22px 0 18px 0;
}
.home .form-section form .need-inpt {
  border: 1px solid var(--gray-300);
  padding: 11px 10px;
  margin-bottom: 20px;
  background-color: var(--gray-100);
  font-size: 16px;
  color: var(--dark);
  display: block;
  width: 100%;
}
.home .form-section form .need-inpt::placeholder {
  font-size: 16px;
  color: var(--dark);
}
.home .form-section form textarea {
  border: 1px solid var(--gray-300);
  padding: 11px;
  font-size: 14px;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  background-color: var(--gray-100);
  display: block;
  width: 100%;
  height: 73px;
}
.home .form-section form textarea::placeholder {
  font-size: 16px;
  color: var(--gray-500);
}
.home .form-section form .last-intps {
  display: flex;
}
.home .form-section form .quantity-inpt {
  width: 206px;
  height: 40px;
  border: 1px solid var(--gray-300);
  font-size: 16px;
  color: var(--dark);
  padding: 11px 10px;
  margin-right: 8px;
  background-color: var(--gray-100);
}
.home .form-section form .select {
  width: 111px;
  height: 40px;
  border: 1px solid var(--gray-300);
  font-size: 15px;
  color: var(--dark);
  background-color: var(--gray-100);
  padding: 11px 10px;
}
.home .form-section form .custom-btn {
  min-width: 128px;
  height: 40px;
  border-radius: var(--border-radius);
  margin-top: 20px;
}
.home .recommended-items {
  background-color: transparent;
  border: none;
  border: none;
  box-shadow: none;
  margin-top: 30px;
}
.home .recommended-items .section-title {
  color: var(--dark);
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 24px;
}
.home .recommended-items .cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 1;
}
.home .recommended-items .cards .card {
  padding: 0 16px;
  padding-top: 23.22px;
  padding-bottom: 8.86px;
}
.home .recommended-items .cards .card h6 {
  font-weight: 700;
  margin-top: 14px;
  font-size: 1.6rem;
}
.home .recommended-items .cards .card span {
  color: var(--gray-500);
  max-width: 186px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 3.9px;
}
.home .recommended-items .cards .img {
  width: 140px;
  height: 140px;
  margin: 0 auto;
}
.home .our-extra-services {
  margin-top: 33px;
  background-color: transparent;
  border: none;
  border: none;
  box-shadow: none;
}
.home .our-extra-services .section-title {
  color: var(--dark);
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 24px;
}
.home .our-extra-services .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.home .our-extra-services .cards .card .img {
  position: relative;
}
.home .our-extra-services .cards .card .img .card-image {
  filter: contrast(100%);
  width: 100%;
}
.home .our-extra-services .cards .card .img .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.747);
}
.home .our-extra-services .cards .card .desc {
  padding: 16px 20px;
  font-size: 1.6rem;
  color: var(--dark);
  width: 150px;
  font-weight: 500;
  user-select: none;
}
.home .our-extra-services .cards .card .icon {
  position: absolute;
  z-index: 1;
  background-color: var(--white);
  width: 55px;
  height: 55px;
  top: 80%;
  right: 9%;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home .regions-sec {
  margin-top: 30px;
  background-color: transparent;
  border: none;
  border: none;
  box-shadow: none;
}
.home .regions-sec .section-title {
  color: var(--dark);
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 24px;
}
.home .regions-sec .cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 18px;
  row-gap: 10px;
}
.home .regions-sec .cards .region-card {
  display: flex;
  align-items: center;
  column-gap: 11px;
}
.home .regions-sec .cards .region-card img {
  width: 28px;
  height: 20px;
}
.home .regions-sec .cards .region-card .text {
  display: flex;
  flex-direction: column;
  line-height: 0;
}
.home .regions-sec .cards .region-card .text h1 {
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}
.home .regions-sec .cards .region-card .text p {
  color: var(--gray-500);
}

@media only screen and (max-width: 1202px) {
  .home {
    margin: 0;
  }
  .home .home-hero {
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
  .home .home-hero .hero-mage {
    padding: 0;
    border-radius: 0;
    width: 100%;
    margin: 0;
    min-height: 0;
    background-position: center;
    overflow-x: hidden;
  }
  .home .home-hero .hero-mage .content h2 {
    font-size: 22px;
  }
  .home .home-hero .hero-mage .content h1 {
    font-size: 22px;
  }
  .home .home-hero .hero-list {
    display: none;
  }
  .home .home-hero .hero-right-part {
    display: none;
  }
  .home .form-section {
    flex-direction: column;
    height: 100%;
    background-size: 100% 100%;
    padding-bottom: 34px;
  }
  .home .form-section .content h1 {
    font-size: 2.5rem;
  }
  .home .form-section .content p {
    display: none;
  }
  .home .form-section .content .mobile-btn {
    display: block;
    padding: 7px 10px;
    border-radius: var(--border-radius);
    margin-top: 17px;
    height: auto;
  }
  .home .form-section form {
    margin: 0 auto;
    margin-top: 20px;
  }
  .home .recommended-items {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  .home .recommended-items .cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .home .our-extra-services {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  .home .our-extra-services .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .home .regions-sec {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1189px) {
  .home .form-section {
    border-radius: 0;
  }
  .home .form-section form {
    display: none;
  }
  .home .recommended-items .cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }
  .home .recommended-items .cards span {
    width: auto;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    width: 100%;
  }
  .home .our-extra-services {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  .home .our-extra-services .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .home .our-extra-services .cards .card .img .icon {
    top: 85%;
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 902px) {
  .home .mobile-deals-offers .cards .card {
    flex: 0 0 20%;
    position: relative;
    height: auto;
  }
  .home .mobile-deals-offers .cards .card h4 {
    text-align: center;
    margin-bottom: 8px;
    white-space: nowrap;
  }
  .home .mobile-deals-offers .cards .card span {
    padding: 5px 13px 6px 13px;
    width: auto;
  }
  .home .recommended-items .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .home .regions-sec {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  .home .regions-sec .cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .home .regions-sec .cards .region-card {
    flex: 0 0 auto;
  }
}
@media only screen and (max-width: 703px) {
  .home .regions-sec .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .home .regions-sec .cards .region-card .text h1 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 658px) {
  .home .mobile-deals-offers .cards .card {
    flex: 0 0 140px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home .mobile-reusable-home-section .mini-cards .card {
    flex: 0 0 40%;
  }
  .home .recommended-items .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .home .recommended-items .cards .card {
    flex: 0 0 50%;
  }
  .home .our-extra-services {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  .home .our-extra-services .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .home .our-extra-services .cards .card .img .icon {
    top: 85%;
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 418px) {
  .home .recommended-items .cards .card span {
    font-size: 15px;
  }
}
@media only screen and (max-width: 397px) {
  .home .recommended-items .cards .card span {
    font-size: 14px;
  }
}
@media only screen and (max-width: 377px) {
  .home .recommended-items .cards .card span {
    font-size: 13px;
  }
}
@media only screen and (max-width: 308px) {
  .home .mobile-deals-offers .cards .card {
    flex: 0 0 140px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home .mobile-deals-offers .time {
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }
  .home .mobile-deals-offers .time img {
    width: 143px;
  }
}
.footer {
  background-color: #ffffff;
}
.footer .subscribe-section {
  margin-top: 43px;
  width: 100%;
  text-align: center;
  background-color: #eff2f4;
  padding: 39px 0 39px 0;
}
.footer .subscribe-section h1 {
  font-weight: 700;
  font-size: 2rem;
}
.footer .subscribe-section p {
  color: #606060;
  font-size: 1.5rem;
}
.footer .subscribe-section form {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
.footer .subscribe-section form .input {
  width: 274px;
  position: relative;
}
.footer .subscribe-section form .input input {
  width: 100%;
  padding: 11px 0 10px 36px;
  border-radius: var(--border-radius);
  font-size: 16px;
  color: var(--dark);
}
.footer .subscribe-section form .input input::placeholder {
  color: var(--gray-500);
}
.footer .subscribe-section form .input .email-icon {
  position: absolute;
  width: 18.33px;
  height: 14.67px;
  top: 38%;
  left: 9.83px;
}
.footer .subscribe-section form .custom-btn {
  padding: 10.5px 16px;
  border-radius: var(--border-radius);
}
.footer .footer-card {
  background-color: transparent;
  box-shadow: none;
  padding-top: 49px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  column-gap: 61px;
}
.footer .footer-card .brand-card img {
  width: 150px;
  height: 46px;
  margin-bottom: 15px;
}
.footer .footer-card .brand-card div {
  width: 100%;
  color: var(--gray-600);
  font-size: 1.4rem;
  margin-bottom: 16px;
}
.footer .footer-card .mini-cards {
  display: flex;
  column-gap: 64px;
}
.footer .footer-card .mini-cards .mini-footer-card h3 {
  margin-bottom: 13px;
}
.footer .footer-card .mini-cards .mini-footer-card span {
  display: block;
  color: var(--gray-500);
  font-size: 16px;
}
.footer .footer-card .app-card h3 {
  margin-bottom: 15px;
}
.footer .footer-card .app-card img {
  display: block;
}
.footer .footer-copyright {
  box-shadow: none;
  background-color: #eff2f4;
}
.footer .footer-copyright .footer-copyright-sec {
  box-shadow: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 23px 0 11px 0;
}
.footer .footer-copyright .footer-copyright-sec p {
  color: #606060;
  font-size: 16px;
}
.footer .footer-copyright .footer-copyright-sec .footer-langs {
  display: flex;
}
.footer .footer-copyright .footer-copyright-sec .footer-langs .lang {
  width: 24px;
  height: 17px;
}

.mobile-navbar {
  background-color: white;
  width: 100%;
  height: auto;
}
.mobile-navbar .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 77%;
  padding: 10px 0;
}
.mobile-navbar .top .top-same-style {
  display: flex;
  align-items: center;
}
.mobile-navbar .top .left-part {
  column-gap: 18px;
}
.mobile-navbar .top .left-part .menu-btn {
  background-color: transparent;
}
.mobile-navbar .top .left-part .logo {
  width: 116px;
  height: 36px;
}
.mobile-navbar .top .right-part {
  column-gap: 20px;
}
.mobile-navbar .search-bar {
  position: relative;
  margin: 0 auto;
  width: 77%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.mobile-navbar .search-bar input {
  background-color: var(--gray-200);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  width: 100%;
  padding: 10px 0 10px 36px;
  color: var(--gray-500);
  font-size: 16px;
}
.mobile-navbar .search-bar input::placeholder {
  font-size: 16px;
  color: var(--gray-500);
}
.mobile-navbar .search-bar .search-icon {
  position: absolute;
  left: 10.98px;
  top: 11.99px;
}
.mobile-navbar .mobile-navbar-links {
  width: 77%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-between;
  column-gap: 3px;
  padding-bottom: 18px;
}
.mobile-navbar .mobile-navbar-links a {
  color: var(--primary);
  flex: 0 0 20%;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  background-color: var(--gray-200);
  text-transform: capitalize;
  padding: 9px;
  border-radius: var(--border-radius);
}

@media only screen and (max-width: 1202px) {
  .mobile-navbar .top {
    width: 90%;
  }
  .mobile-navbar .search-bar {
    width: 90%;
  }
  .mobile-navbar .mobile-navbar-links {
    width: 90%;
  }
}
@media only screen and (max-width: 502px) {
  .mobile-navbar .mobile-navbar-links a {
    flex: 0 0 auto;
  }
}