.mobile-product-detail {
    box-shadow: none;
    .content {
        .img-content {
            position: relative;
            width: 100%;
            .controls {
                position: absolute;
                bottom: 10px;
                right: 10%;
            }
            .main-img {
                display: flex;
                margin: 0 auto;
            }
        }

        .content-body {
            padding: 15px 16px 20px 16px;
            background-color: white;
            box-shadow: var(--box-shadow);
            margin-bottom: 10px;

            .header {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 10px;
                font-size: 12px;

                span {
                    display: flex;
                    align-items: center;
                    column-gap: 6px;
                }
            }

            .price {
                margin: 6px 0 10px 0;
                display: flex;
                align-items: center;
                column-gap: 5px;
                strong {
                    color: red;
                    font-size: 15px;
                }
                span {
                    color: var(--gray-500);
                    font-size: 13px;
                }
            }

            .btns {
                display: grid;
                grid-template-columns: 280px auto;
                margin-bottom: 20px;
                column-gap: 8px;
                align-items: center;
                .custom-btn {
                    padding: 10.5px 0;
                    border-radius: var(--border-radius);
                }
                .heart-btn {
                    border: 1px solid var(--gray-300);
                    border-radius: var(--border-radius);
                    padding: 10.82px 10px;
                }
            }

            ul {
                padding: 0;
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                li {
                    display: grid;
                    grid-template-columns: 40% auto;
                    font-size: 16px;
                    font-weight: 500;
                    & :first-child {
                        color: var(--gray-500);
                    }
                }
            }
            .desc {
                font-size: 16px;
                color: var(--gray-600);
                margin-bottom: 6px;
            }

            .read-more-btn {
                text-decoration: none;
                color: var(--primary);
                font-weight: 600;
                font-size: 16px;
            }
        }
    }

    .second-card {
        background-color: white;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        margin-bottom: 20px;
        width: 94%;
        margin: 0 auto;

        .line {
            width: 320px;
            margin: 0 auto;
            margin-bottom: 12px;
            color: var(--gray-400);
        }

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            .left {
                display: flex;
                align-items: center;
                column-gap: 11px;
                span {
                    font-size: 16px;
                    color: var(--gray-600);
                }
                margin-bottom: 12px;
            }
        }

        ul {
            display: flex;
            align-items: center;
            column-gap: 27px;
            justify-content: space-between;
            padding: 0 10px 14px 10px;
            li {
                display: flex;
                align-items: center;
                color: var(--gray-600);
                column-gap: 7px;
                span {
                    font-size: 16px;
                }
            }
        }
    }
}
