.mycart {
    box-shadow: none;
    height: auto;
    .orders {
        margin-bottom: 29px;
        .title {
            font-weight: 700;
            margin-top: 27px;
            margin-bottom: 23px;
            font-size: 22px;
        }
        .card-contents {
            display: grid;
            grid-template-columns: 880px auto;
            column-gap: 20px;
            .big-card {
                display: flex;
                box-shadow: var(--box-shadow);
                border-radius: var(--border-radius);
                flex-direction: column;
                .cards {
                    border-top-right-radius: var(--border-radius);
                    border-top-left-radius: var(--border-radius);
                    background-color: white;
                    .order-card {
                        display: flex;
                        justify-content: space-between;
                        padding: 23px 20px 20px 20px;
                        border-bottom: 1px solid var(--gray-300);
                        .cl-1 {
                            display: flex;
                            column-gap: 12px;
                            align-items: center;
                            .img-bg {
                                width: 80px;
                                height: 80px;
                                border-radius: var(--border-radius);
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                box-shadow: var(--box-shadow);
                                background-color: #e0e0e0;
                                img {
                                    width: 53px;
                                    height: 60px;
                                }
                            }
                            .content {
                                h2 {
                                    font-size: 17px;
                                    margin-bottom: 6px;
                                }
                                p {
                                    font-size: 16px;
                                    color: var(--gray-500);
                                    line-height: 1;
                                }
                                .btns {
                                    display: flex;
                                    align-items: center;
                                    column-gap: 8.5px;
                                    & :nth-child(1) {
                                        color: #fa3434;
                                    }
                                    & :nth-child(2) {
                                        color: var(--primary);
                                    }
                                    button {
                                        background-color: white;
                                        border-radius: var(--border-radius);
                                        box-shadow: var(--box-shadow);
                                        padding: 7px 10px;
                                        font-size: 14px;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                        .cl-2 {
                            display: flex;
                            flex-direction: column;
                            row-gap: 12px;
                            span {
                                color: var(--dark);
                                font-weight: 500;
                                font-size: 16px;
                                align-self: end;
                            }
                            .qty {
                                display: flex;
                                align-items: center;
                                box-shadow: var(--box-shadow);
                                border-radius: var(--border-radius);
                                padding: 11px;
                                font-size: 16px;
                                font-weight: 500;
                                column-gap: 35px;
                            }
                        }
                    }
                }
                .footer-btns {
                    background-color: white;
                    padding: 20px 21px;
                    display: flex;
                    border-bottom-right-radius: var(--border-radius);
                    border-bottom-left-radius: var(--border-radius);
                    justify-content: space-between;
                    button {
                        border-radius: var(--border-radius);
                        box-shadow: var(--box-shadow);
                        padding: 10.5px 16px;
                        font-weight: 500;
                        font-size: 16px;
                    }
                    & :first-child {
                        background-color: var(--primary);
                        display: flex;
                        align-items: center;
                        column-gap: 14px;
                        color: white;
                    }
                    & :nth-child(2) {
                        background-color: white;
                        color: var(--primary);
                    }
                }
            }
            .sml-card {
                .sml-top-card {
                    box-shadow: var(--box-shadow);
                    border-radius: var(--border-radius);
                    background-color: white;
                    margin-bottom: 12px;
                    padding: 20px 0 22px 16px;
                    h4 {
                        color: var(--gray-600);
                    }
                    form {
                        margin-top: 9px;
                        width: 247px;
                        box-shadow: var(--box-shadow);
                        border-radius: var(--border-radius);
                        display: grid;
                        grid-template-columns: 164px auto;
                        font-size: 16px;
                        font-weight: 500;
                        input {
                            border-top-left-radius: var(--border-radius);
                            border-bottom-left-radius: var(--border-radius);
                            padding: 11px 5px 10px 10px;
                        }
                        button {
                            border-top-right-radius: var(--border-radius);
                            background-color: transparent;
                            color: var(--primary);
                            border-left: 1px solid var(--gray-400);
                            border-bottom-right-radius: var(--border-radius);
                        }
                    }
                }
                .checkbout-card {
                    background-color: white;
                    border-radius: var(--border-radius);
                    box-shadow: var(--box-shadow);
                    padding: 20px;
                    ul {
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        row-gap: 5px;
                        padding-bottom: 17px;
                        margin-bottom: 17px;
                        border-bottom: 1px solid var(--gray-300);
                        li {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 14px;
                            color: var(--gray-600);
                        }
                        .red {
                            color: var(--red);
                        }
                        .green {
                            color: var(--green);
                        }
                    }
                    .total-price {
                        display: flex;
                        justify-content: space-between;
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 22px;
                        & :nth-child(2) {
                            font-size: 18px;
                        }
                    }
                    .checkout-btn {
                        background-color: var(--green);
                        width: 100%;
                        color: white;
                        font-size: 16px;
                        border-radius: var(--border-radius);
                        padding: 16px 0;
                        margin-bottom: 18px;
                    }
                }
            }
        }
    }

    .second-sec {
        display: flex;
        column-gap: 54px;
        align-items: center;
        margin-bottom: 30px;
        .cus-card {
            display: flex;
            column-gap: 10px;
            align-items: center;
            .text {
                display: flex;
                flex-direction: column;
                font-size: 16px;
                & :first-child {
                    font-weight: 500;
                }
                & :nth-child(2) {
                    color: var(--gray-500);
                }
            }
        }
    }

    .saved-products {
        background-color: white;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        padding: 20px 23px;
        margin-bottom: 20px;
        h1 {
            font-size: 16px;
            margin-bottom: 22px;
        }
        .cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 20px;
            .card {
                box-shadow: none;
                border: 0 !important;
                border-radius: 0;
                .main-img {
                    width: 225px;
                    height: 225px;
                    margin-bottom: 10px;
                }
                .body {
                    .price {
                        font-weight: 500;
                        font-size: 16px;
                    }
                    h4 {
                        margin-top: 10px;
                        color: var(--gray-500);
                        margin-bottom: 12px;
                        width: 215.8px;
                    }
                    button {
                        box-shadow: var(--box-shadow);
                        border-radius: var(--border-radius);
                        background-color: white;
                        color: var(--primary);
                        font-size: 16px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        column-gap: 12.5px;
                        padding: 11px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1486px) {
    .header {
        .top-navbar {
            .header-links {
                margin-right: 0;
            }
        }
    }
    .mycart {
        .orders {
            .card-contents {
                grid-template-columns: 800px auto;
            }
        }
    }
}
@media only screen and (max-width: 1200px) {
    .mycart {
        width: 92%;
        margin: 0 auto;
        .orders {
            .card-contents {
                grid-template-columns: 800px auto;
            }
        }
    }
}
@media only screen and (max-width: 1185px) {
    .mycart {
        .orders {
            .card-contents {
                grid-template-columns: 700px auto;

                .sml-card {
                    .sml-top-card {
                        text-align: center;
                        form {
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1096px) {
    .mycart {
        .orders {
            .card-contents {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                .big-card {
                    width: 100%;
                }
                .sml-card {
                    width: 100%;
                    .sml-top-card {
                        text-align: center;
                        form {
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }
        }
        .saved-products {
            .cards {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                scrollbar-color: red orange;
                scrollbar-width: thin;
                .card {
                    flex: 0 0 auto;
                }
            }
        }
        .blue-section {
            display: none;
        }
    }
}
@media only screen and (max-width: 880px) {
    .mycart {
        .second-sec {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 20px;
        }
    }
}
@media only screen and (max-width: 780px) {
    .mycart {
        .second-sec {
            display: none;
        }
    }
}
