.header {
    background-color: white;
    width: 100%;

    .line {
        width: 100%;
        color: var(--gray-500);
        margin: 0;
    }
    .top-navbar {
        border-bottom: 1px solid var(--gray-400);
        width: 100%;
        height: auto;
        padding: 20px 0;
        display: flex;
        box-shadow: none;
        background-color: transparent;
        border: none;

        margin: 0 auto;
        width: 77%;
        .logo {
            min-width: 150px;
            min-height: 46px;
            margin-right: 46px;
            user-select: none;
        }
        .search-form {
            min-width: 655px;
            min-height: 40px;
            height: 40px;
            max-height: auto;
            display: flex;
            align-items: center;
            margin-right: 89px;
            .search-input {
                min-width: 421px;
                height: 100%;
                border-top-left-radius: var(--border-radius);
                border-bottom-left-radius: var(--border-radius);
                padding: 0 10px;
                border-top: 2px solid;
                border-bottom: 2px solid;
                border-left: 2px solid;
                border-color: var(--primary);
                &::placeholder {
                    color: var(--gray-500);
                    font-weight: 500;
                    font-size: 1.5rem;
                }
            }
            .search-select {
                border-top: 2px solid;
                border-bottom: 2px solid;
                border-left: 1px solid;
                border-color: var(--primary);
                color: var(--dark);
                font-weight: 500;
                font-size: 1.4rem;
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
            }
            .search-select {
                min-width: 145px;
                height: 100%;
            }
        }
        .header-links {
            display: flex;
            align-items: center;
            column-gap: 23px;
            width: 100%;
            justify-content: end;
            a {
                display: flex;
                row-gap: 6px;
                flex-direction: column;
                text-decoration: none;
                align-items: center;
                color: var(--gray-500);
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .bottom-navbar {
        padding: 16px 0;
        background-color: transparent;
        box-shadow: none;
        width: 77%;
        margin: 0% auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-links {
            display: flex;
            align-items: center;
            column-gap: 28px;
            a {
                text-decoration: none;
                color: var(--dark);
                font-weight: 500;
                font-size: 1.5rem;
            }
        }
        .nav-right-links {
            display: flex;
            align-items: center;
            column-gap: 32px;
            color: var(--dark);
            font-weight: 500;
            justify-content: end;
            font-size: 1.5rem;
        }
    }
}

//responsive
@media only screen and (max-width: 1486px) {
    .header {
        transition: all .5s ease-in-out;
        width: 100%;
        .top-navbar {
            width: 95%;
            margin: 0 auto;
            .header-links {
                width: 50%;
                margin: 0 auto;
                justify-self: start;
                a {
                    span {
                        display: none;
                    }
                }
            }
        }
        .bottom-navbar{
            width: 95%;
            margin: 0 auto;
        }
    }
}
